<!doctype>
<html>
  <head>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
    <title>Rock Paper Scissors Lizard Spock</title>
  </head>
  <body>
    <header>
      <h1>
        <span class="word1">
          Rock
        </span>
        <span class="word2">
          Scissors
        </span>
        <span class="word3">
          Paper
        </span>
        <span class="word4">
          Lizard
        </span>
        <span class="word5">
          Spock
        </span>
      </h1>
    </header>
    <section class="name-entry">
      <input type="text" id="username" value="">
      <button id="submit">Enter your name</button>
    </section>
    <section class="choices">
      <div class="choice" data-pick='rock'>
        <p>Rock</p>
        <img src="images/rock.png">
      </div>
      <div class="choice" data-pick='paper'>
        <p>Paper</p>
        <img src="images/paper.png">
      </div>
      <div class="choice" data-pick='scissors'>
        <p>Scissors</p>
        <img src="images/scissors.png">
      </div>
      <div class="choice" data-pick='lizard'>
        <p>Lizard</p>
        <img src="images/lizard.png">
      </div>
      <div class="choice" data-pick='spock'>
        <p>Spock</p>
        <img src="images/spock.png">
      </div>
    </section>
    <ul id="results">
    </ul>
    <template id="list-item-template">
      <li>{{ message }}</li>
    </template>
    <script src='javascripts/Game.js'></script>
    <script src='javascripts/Player.js'></script>
    <script src='javascripts/Bot.js'></script>
    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src='https://code.jquery.com/ui/1.11.2/jquery-ui.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js'></script>
    <script src='javascripts/jquery.js'></script>
  </body>
</html>
